@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}
html:has(div[role="dialog"][aria-modal="true"]) {
  overflow: hidden;
}
body {
  @apply bg-white text-maroon-900 font-sans;
}
.nav-link {
  @apply transition-colors duration-300 hover:text-gray-500;
}
